@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

        body{
            font-family: lora, serif;
        }

        .nome{
            text-align: center;
        }

        .idade{
            text-align: center;
        }

        .telefone{
            margin-bottom: 2px;
        }
        
        .email{
            vertical-align: middle;
            margin-bottom: 2px;
        }

        .endereçoemail{
            vertical-align: middle;
            color: rgb(2, 2, 207);
            margin-bottom: 2px;
        }

        .cidade{
           margin-top: 2px;
           margin-bottom: 0;

        }

        .bairro{
            margin-top: 2px;
            margin-bottom: 30px;
        }

        .respObjetivo{
            margin-bottom: 30px;
        }

        .respFormação{
            margin-bottom: 30px;
        }

        

        .nomeForm{
            height: 30px;
            width: 711px;
            display: block;
            margin-bottom: 10px;
            

        }

        .emailForm{
            height: 30px;
            width: 343px;
            margin-right: 5px;
            
           

        }

        .telefoneForm{
            height: 30px;
            width: 343px;
           
           
            
        }

        ::placeholder{
            padding-left: 9px;
            color: rgb(94, 93, 93);
        }

        .button-enviar{
            display: block;
            margin-top: 25px;
            margin-left: 630px;
            height: 35px;
            width: 80px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 30px;
        }

        .cursos p{
            margin-bottom: 1px;
        }

        .cursos_qualificações{
            margin-bottom: 10px;
        }

        .style-forms{
            
            text-align: center;
            background-color: rgb(153, 146, 146);
            padding-top: 1px;
            padding-bottom: 20px;
        }

        .style-forms h2{
            
           margin-top: 20px;
           text-align: center;
           padding-bottom: 15px;
        }
        
        input{
            padding-left: 10px;
        }

        form{
            display: inline-block;
            text-align: left;
        } 